.container-fluid {
    position: relative;
    text-align: center;
    font-family: 'Source Sans Pro', serif;
    font-size: 22px;
}
.image {
    height: 100%;
    background-image: url(./backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.no-padding,
.work-heading {
    padding-left: 0;
    padding-right: 0;
}
#Tittle{
    padding-top: 48px;
}
#logo{
    margin-top: 14%;
    padding-bottom: 110px;
}
#mouse_click{
    margin-top: 255px;
}
#about_us{
    margin-top: 60px;
}
#services{
    height: 50%;
    background-image: url(./backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
}
#ourservices, #work {
    margin-top: 0px;
}
#themessage {
    padding-top: 80px;
    padding-bottom: 50px;
}
.hidden-content {
    display: none;
}
#portofolio .card0, .card1, .card2, .card3, .card4, 
.card5, .card6, .card7 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 18%;
    margin-right: 16%;
}
.contact{
    background-image: url(./backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}