body{
    margin: 50px;
}
.container-fluid {
    position: relative;
    text-align: center;
    font-family: 'Source Sans Pro', serif;
    font-size: 22px;
}
.image {
    height: 100%;
    background-image: url(./backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.no-padding,
.work-heading {
    padding-left: 0;
    padding-right: 0;
}
#Tittle{
    padding-top: 48px;
}
#logo{
    margin-top: 14%;
    padding-bottom: 110px;
}
#mouse_click{
    margin-top: 255px;
}
#about_us{
    margin-top: 50px;
    text-align: center;
}
#services{
    height: 50%;
    background-image: url(./backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
}
#ourservices, #work {
    margin-top: 0px;
}
#themessage {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
.hidden-content {
    display: none;
}
#portofolio  {
    display: flex;
    
}
.contact{
    background-image: url(./backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 60%;
    position: relative;
    margin-top: 70px;
}
.isInput,
.isinput:focus {
    background-color: transparent;
    color: #fff;
}
form#contact-form ::placeholder {
    color: white;
}

.contact#message {
    padding-top: 70px;
}
#social{
    padding-top: 40px;
}
#social-padding img{
    padding: 5px;
}




